streamlit
pandas
scikit-learn
PyPDF2
groq
python-dotenv
python-docx
sentence-transformers
langchain
langchain-community
langchain-groq
langchain-text-splitters
huggingface_hub
scikit-learn
openpyxl
langchain-core
pinecone-client
